<!DOCTYPE html>
<html>
    <head>
        <title>Staff dashboard</title>
        <link rel="stylesheet" href="/css/staff.css">
    </head>
    <header><h1>Welcome to staff dasboard</h1></header>
    <body>
        <form id="view-details" method="get">
            <div class="view-details">
                <label for="student-id">Enter student ID:</label>
                <input type="number" id="student_id" name="student_id"><br>
                <button id="get-stud-detail" type="submit">Search</button>
            </div>
        </form>
        <div id="details"></div>
    </body>
    <script>
        const getstuddetails = document.getElementById('get-stud-detail');
        const detailsDiv = document.getElementById('details');
        const studid = document.getElementById('student_id')

        getstuddetails.addEventListener('click',(e)=>{
            e.preventDefault()//to prevent from refreshing and redirecting to login page
            const stuid = studid.value;
            if(!stuid){
                return;
            }
            const queryParams = new URLSearchParams();
            queryParams.append('button','get-stud-details');
            queryParams.append('student_id',stuid);
            const url = `/teachers-dashboard?${queryParams.toString()}`;
            fetch(url).then(response=>response.json())
            .then(data=>{
                if (data && Object.keys(data).length > 0) {
            const tableHTML = `
              <table>
                <thead>
                  <tr>
                    ${Object.keys(data)
                      .map((key) => `<th>${key}</th>`)
                      .join('')}
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    ${Object.values(data)
                      .map((value) => `<td>${value}</td>`)
                      .join('')}
                  </tr>
                </tbody>
              </table>
            `;
            detailsDiv.innerHTML = tableHTML;
          } else {
            detailsDiv.innerHTML = 'No student details found';
          }
            })
            .catch(error=>{
                console.log(error);
            })
        })
    </script>
</html>