<!-- dashboard.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="/css/style2.css">
  </head>
  <header><h1>Welcome to your dashboard</h1></header>
  <body>
    
    <button id="attendance-btn">View Attendance</button>
    <button id="grades-btn">View Grades</button>
    <button id="dob-btn">Date of birth</button>
    <div id="attendance"></div>
    <div id="grades"></div>
    <div id="dob"></div>
    <script>
      const attendanceBtn = document.getElementById('attendance-btn');
      const gradesBtn = document.getElementById('grades-btn');
      const attendanceDiv = document.getElementById('attendance');
      const gradesDiv = document.getElementById('grades');
      const dobbtn=document.getElementById('dob-btn');
      const dobDiv=document.getElementById('dob');

      attendanceBtn.addEventListener('click',()=>{
        const queryParams = new URLSearchParams();
        queryParams.append('button','attendanceBtn');
        const url = `/student-data?${queryParams.toString()}`;
        fetch(url).then(response=>response.json())
        .then(data=>{
          const attendance = data[0];
          attendanceDiv.textContent = `Attendance: ${attendance}%`;
        })
        .catch(error=>{
          console.log('error while fetching data',error);
        })
      })
    </script>
  </body>
</html>
