<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../public/css/style2.css">
    <title>student dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="profile">
        <table>
          <tr><th>Name</th>
            <th>ID</th>
            <th>Department</th>
            <th>Attendance</th>
            <th>GPA</th>
            
          </tr>
          <td>Ram</td>
          <td>17</td>
          <td>IT</td>
          <td>98</td>
          <td>8.2</td>
        </table>
      </div>
</body>