/* body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #2bd64d;
  padding: 10px;
  color: #fff;
  text-align: center;
}

h1 {
  margin: 0;
}

form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
form > input{
  margin : 10px;
  padding: 5px;
}

.view-details {
  margin-bottom: 10px;
  text-align: center;
  border-width: 5px;
  border:#333;
  display: flex;
}

label {
  display: inline-block;
  font-weight: bold;
}

input[type="number"],
input[type="text"] ,
input[type= "subimt"]{
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  width: 100px;
  cursor: pointer;
}

#details {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
} */